/*css reset*/

html,
html body {
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1em;
    font-family: 'Noto Sans';
}

*,
html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
label,
fieldset,
input,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

 :link,
 :visited {
    text-decoration: none;
}

q:before,
q:after {
    content: '';
}


/* The below restores some sensible defaults */

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

a img {
    border: none;
}

sup {
    vertical-align: super;
    font-size: 60%;
}

sub {
    vertical-align: sub;
    font-size: 60%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* end of reset */

html {
    font-size: 62.5%;
}

body {
    text-align: center;
    font-family: chelsea market;
}

.container header nav a {
    border: 1px margin: 0 10px;
    padding: 2rem;
    display: inline-block;
    border-radius: 2rem;
    margin-bottom: 2rem;
    color: white;
}

.first-link {
    background-color: #FF764E;
}

.second-link {
    background-color: #5ED3EB;
}

.third-link {
    background-color: #FFCD69;
}

footer nav a {
    border: 1px margin: 0 10px;
    padding: 20px;
    display: inline-block;
    border-radius: 2rem;
    color: white;
    margin-bottom: 2rem;
}

p {
    margin: 3rem;
    font-size: 2.5rem;
}

h1 {
    font-size: 7rem;
    font-weight: bold;
    display: inline;
}

.first-section {
    background-color: #DDB9A3;
    display: block;
    padding: 3rem;
    margin: 0 auto;
    padding-top: 50px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
}

.header-image img {
    border-radius: 50%;
    height: 300px;
    width: 300px;
}

.info {
    width: 40%;
    text-align: center;
    padding-left: 100px;
    position: relative;
    left: 300px;
}

.spaced-out {
    position: relative;
    top: 180px;
}

.header-container {
    position: relative;
    top: 80px;
}

a {
    box-sizing: border-box;
    width: 180px;
    height: 82px;
    font-size: 27px;
}

.image-container img {
    padding-top: 230px;
    padding-bottom: 100px;
    object-fit: scale-down;
    display: block;
    height: 90%;
    width: 100%;
}